/************************************* google fonts **********************************/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*********** VARIABLES CSS***************/
:root {
  --header-height: 3.5rem; /*56px*/

  /*********** Colors ***********/
  /*Color mode HSL (hue, saturation, lightness)*/
  --hue: 66; /* Base hue extracted from the image */
  --first-color: hsl(
    var(--hue),
    67%,
    94%
  ); /* The extracted light cream color */
  --first-color-alt: hsl(
    var(--hue),
    67%,
    90%
  ); /* Slightly darker variation of the first color */
  --first-color-light: hsl(var(--hue), 67%, 98%); /* Lighter variation */
  --first-color-lighten: #f4f9f8; /* Nearly white */
  --title-color: hsl(var(--hue), 4%, 15%); /* Dark color for titles */
  --text-color: hsl(var(--hue), 4%, 35%); /* Main text color */
  --text-color-light: hsl(var(--hue), 4%, 55%); /* Lighter text color */
  --body-color: #f0fff1; /* Background color, set to white */
  --container-color: #fff; /* Container background color in HEX (white) */
  --bg-color: #fffbfb;

  /*********** Font and typography ***********/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "EB Garamond", serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margins Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

html {
  scroll-behavior: smooth;
}

h1 h2 {
  color: var(--title-color);
}
h1 {
  font-size: 50px;
  margin-bottom: 20px;
  /* font-weight: bold; */
}
h2 {
  font-size: var(--big-font-size);
  text-transform: capitalize;
  margin: 50px 0;
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* position: fixed; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; /* Allow nav-links to take available space */
  text-align: center;
}
.nav-links {
  flex-grow: 1; /* Allow nav-links to take available space */
  text-align: center; /* Center the nav links */
}

.nav-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the list items */
}

.nav-links li {
  margin: 0 1.5rem; /* Space out items */
}

.nav-links a {
  text-decoration: none;
  font-size: larger;
  color: var(--text-color);
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-links a:hover {
  color: hsl(152, 60%, 50%);
}

.menu-toggle {
  display: none; /* Hide the checkbox */
}

.hamburger {
  display: none; /* Hidden by default */
  font-size: 1.5rem;
  cursor: pointer;
}

.btn {
  background-color: seagreen;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: hsl(152, 60%, 50%);
}
/* ****************************  Banner ******************************* */
.banner {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  height: 500px;
}
.heading-div {
  /* background: #000; */
  width: 60%;
  margin: 50px;
}
.heading-div p {
  /* background: #000; */
  width: 70%;
  line-height: 1.6;
  font-size: 17px;
  color: seagreen;
}
.img-div {
  height: 100%;
  background-image: url("/assets/hangingplant.png");
  background-position: center;
  background-size: cover;
  background-color: #e0fde3;
  /* margin: auto 0; */
  width: 40%;
  text-align: left;
}
.inner-img-div {
  position: absolute;
  right: 28%;
  top: 17%;
  border-radius: 100px 100px 0 0;
  box-shadow: inset -30px 0px 30px -0.5px rgba(16, 110, 44, 0.5);
  border-radius: 100px 100px 0 0;
  z-index: 4;
  /* background-color: seagreen; */
}
.img-div img {
  width: 500px;
  z-index: 1;

  /* position: absolute; */
}
.inner-img-div img {
  width: 350px;
  /* background-color: rgba(38, 210, 155, 0.5); */
  padding: 0;
}

/* plants section */

.container {
  text-align: center;
  margin: auto 30px;
  padding: 30px;
}

.plant-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  z-index: 2;
  /* padding: 20px 20px; */
}

.plant-grid-item {
  background-color: #a7d38d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
  border-radius: 2px 3rem;
  box-shadow: inset 5px 5px 10px 2px rgba(104, 103, 103, 0.5);
  padding: 5px;
  font-size: 20px;
  /* Space out items evenly */
}
.plant-grid-item img {
  height: 300px;
  width: 250px;
}
.plant-details {
  background-color: beige;
  width: 70%;
  font-weight: bold;
  display: flex;
  padding: 0px 6px;
  border-radius: 5px;
  /* justify-self: stretch; */
  justify-content: space-between;
  margin: 0 30px 30px 40px;
  /* min-height: 30px; */
}

/* **********************ABOut ********************************** */
.about {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  background-image: url("https://plus.unsplash.com/premium_photo-1683141174313-cf39e1e2b28e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;

  color: white;
  text-align: center;
}

.inner-about {
  /* width: 80%; */
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: rgba(125, 244, 131, 0.4); */
  background-color: rgba(64, 239, 73, 0.3);
}
.inner-about h3 {
  font-size: 28px;
  text-transform: capitalize;
}
.inner-about p {
  width: 50%;
  font-size: 24px;
  line-height: 1.5;
}
.contact {
  display: flex;
  background-color: var(--bg-color);
}
.form-div {
  background-image: url("https://plus.unsplash.com/premium_photo-1683141174313-cf39e1e2b28e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center right;
  width: 60%;
  border-radius: 2px 3rem;
  margin: 30px;
  /* padding: 30px 10px; */
  /* margin: 30px; */
}
.form-div form {
  /* background-color: rgba(64, 239, 73, 0.3); */
  background-color: rgba(105, 155, 108, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  /* margin: 30px; */
  /* background-color: rgba(166, 235, 173, 0.9); */
  border-radius: 2px 3rem;
}
.contact form input,
textarea {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 60%;
  height: 40px;
  margin-top: 40px;
  border-radius: 2px 1rem;
}
.contact form textarea {
  height: 150px;
  border: none;
  outline: none;

  border-radius: 2px 3rem;
}
.contact form input,
textarea::placeholder {
  padding-left: 0.4rem;
  padding-top: 0.4rem;
  font-weight: bold;
  color: rgb(157, 151, 151);
}
.contact img {
  width: 400px;
  margin: 3rem 0;
}
@media (max-width: 1024px) {
  .plant-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: auto 20px;
  }
  .inner-about p {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  .navbar {
    background-color: var(--body-color);
    z-index: 2000;
  }
  .nav-items {
    flex-direction: column;
    position: absolute;
    top: -300px;
    left: 0;
    right: 0;

    /* background-color: chartreuse; */
    background-color: var(--body-color);

    padding: 1rem 0;
    transition: top 0.5s ease, background-color 1s ease-in;
    z-index: -999;
  }

  .menu-toggle:checked + .hamburger + .nav-items {
    top: 60px;
    background-color: #e0fde3;
    z-index: 1000;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
    width: 100%; /* Full width */
  }

  .nav-links li {
    margin: 1rem 0; /* Space out items vertically */
    margin-left: 0; /* Remove horizontal margin */
  }

  .hamburger {
    display: block; /* Show hamburger icon on mobile */
  }

  .btn {
    display: hidden; /* Hide button on mobile by default */
  }

  /* Show button when hamburger is checked */
  /* Show button when hamburger is checked */
  .menu-toggle:checked + .hamburger + .nav-items + .btn {
    display: visible; /* Show button when menu is active */
    margin-top: 1rem; /* Add margin for spacing */
    width: 100%; /* Optional: make the button wider */
    margin: 0 auto; /* Center the button */
  }
  .container {
    margin: 5px auto;
    padding: 0;
  }
  /********************************* plant section********************** */
  .plant-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin: auto 20px;
    z-index: 1;
  }

  /* ***************************about****************************** */
  .about {
    width: 100%;
    margin: 5px auto;
  }

  .inner-about h3 {
    font-size: 24px;
    margin-top: 10px;
  }
  .inner-about p {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    line-height: 1.5;
  }
}

/* animations */
/* right to left */
@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
  } /*out of the screen from right*/

  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeftToRight {
  0% {
    transform: translateX(-100%);
  } /*out of the screen from right*/

  100% {
    transform: translateX(0);
  }
}
@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
  } /*out of the screen from right*/

  100% {
    transform: translateY(0);
  }
}
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  } /*out of the screen from right*/

  100% {
    transform: translateY(0);
  }
}
.slideRightToLeft {
  animation: slideRightToLeft 0.6s ease-out;
}
.slideLeftToRight {
  animation: slideLeftToRight 0.6s ease-out;
}

.slideFromBottom {
  animation: slideFromBottom 0.6s ease-out;
}
.slideFromTop {
  animation: slideFromTop 0.6s ease-out;
}
